.body-content {
  background-color: #0a0b11;
  background-image: url("https://raw.githubusercontent.com/Jeyso215/Kagi-Courvix-Dark-Theme/refs/heads/main/assets/courvix-dark.webp");
  background-size: cover;
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: bottom;
}

.search-input-container {
  background-color: #0f111a !important;
  border: 1px solid #0063cc !important;
  box-shadow: 0 0 8px rgba(0, 99, 204, 0.2) !important;
}

.search-input-container input {
  color: #ffffff !important;
  background-color: transparent !important;
  caret-color: #0063cc !important;
}

.search-input-container input::placeholder {
  color: #5c677d !important;
}

.search-input-container:hover {
  background-color: #0c0e15 !important;
  border-color: #1e90ff !important;
}

.search-input-container input {
  color: #ffffff !important;
  caret-color: #0063cc; 
}

.auto_suggestions {
  background: #0f111a !important;
  border: 1px solid #0063cc !important;
  border-top: none !important;
}

.app-header.app-content-box {
  background-color: #0a0b11;
}

.app-box-center {
  background-color: #0a0b11;
}

.__sri_title_link._0_sri_title_link._0_URL,
.__srgi-title,
.__srgi-title ._0_URL {
  color: #1e90ff !important;
}

#wikipediaResults:has(div) {
  border: 1px solid #0063cc;
  border-radius: 10px;
  padding: 0 1rem;
  box-sizing: border-box;
  height: fit-content;
}

.header_links,
._0_landing_filters,
._0_land_cat_box,
.land_adv_search_btn {
  display: none !important;
}

.__ia-body,
.widgetContent {
  border: 1px solid #0a0b11;
  border-radius: 4px;
  background: #0a0b11;
  color: #0063cc;
  padding: 1rem;
}

.orb_chat_footer._0_orb_chat_footer {
  background-color: #0a0b11;
}
